<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
        Ventas
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-6>Producto</ion-col>
            <ion-col col-2>Cant.</ion-col>
            <ion-col col-3>Precio</ion-col>
            <ion-col col-1></ion-col>
        </ion-row>
        <ion-row *ngFor="let linea of lineas">
            <ion-col col-6>
                <ion-select class="full-width" [(ngModel)]="linea.producto">
                    <ion-option *ngFor="let producto of productos" (ionSelect)="seleccionarProducto(linea, producto)" value="{{producto.$key}}">{{producto.nombre}}</ion-option>
                </ion-select>
            </ion-col>
            <ion-col col-2><ion-input type="number" [(ngModel)]="linea.cantidad"></ion-input></ion-col>
            <ion-col col-3><ion-input type="text" [(ngModel)]="linea.precio"></ion-input></ion-col>
            <ion-col col-1 *ngIf="botonActivo"><button ion-button icon-only round outline small [color]="colorStock(linea)" (click)="borrarLinea(linea)"><ion-icon name="trash"></ion-icon></button></ion-col>
        </ion-row>
    </ion-grid>
    <button *ngIf="botonActivo" ion-button full (click)="addLinea()">Añadir Línea</button>
    <ion-list>
        <ion-item>
            <ion-label>Total</ion-label>
            <p item-right><strong>{{ total | currency:'DOP' }}</strong></p>
        </ion-item>
    </ion-list>
    <button ion-button full [disabled]="!botonActivo" (click)="addVenta()">Guardar Venta</button>
</ion-content>