<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
        {{titulo}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-item *ngIf="usuario && usuario.nivelDeAcceso=='admin'">
            <selector-vendedores etiqueta="Vendedor:" [seleccionado]="vendedorFiltro.id" (seleccionar)="seleccionarVendedorFiltro($event)"></selector-vendedores>
        </ion-item>
    </ion-list>

    <ion-card *ngFor="let cliente of clientes">
        <ion-item>
            <ion-label>Nombre:</ion-label>
            <p *ngIf="cliente.clienteNombre" item-right><strong>{{cliente.clienteNombre}}</strong></p>
        </ion-item>
        <ion-item>
            <ion-label>Dirección:</ion-label>
            <p *ngIf="cliente.clienteDireccion" item-right>{{cliente.clienteDireccion}}</p>
        </ion-item>
        <ion-item>
            <ion-label>Importe cobrado:</ion-label>
            <p item-right>{{cliente.importeCobrado | currency:'DOP'}}</p>
        </ion-item>
    </ion-card>
    <ion-item *ngIf="!clientes && !cargando">
        <p text-wrap>Todavía no hay ningún cliente candidato a la capacitación</p>
    </ion-item>
    <ion-item *ngIf="cargando">
            <p>Cargando clientes capacitación...</p>
    </ion-item>
  
</ion-content>