<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
        {{titulo}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list *ngIf="model.cliente">
        <ion-item *ngIf="model.aplicarAuto">
            <ion-label>Importe Cobrado</ion-label>
            <ion-input [(ngModel)]="model.importeCobrado" (ionFocus)="seleccionarTexto($event)"></ion-input>
        </ion-item>
        <ion-item *ngIf="!model.aplicarAuto && model.deudasCobradas && model.deudasCobradas.length > 0">
            <ion-label>Deudas Pendientes</ion-label>
            <ion-select multiple="true" [(ngModel)]="model.deudasCobradas">
                <ion-option *ngFor="let deuda of deudas" value="{{deuda.$key}}" checked="true">{{deuda.fecha.toDate() | date:datelocale}} - {{deuda.importeDeuda | currency:'DOP'}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="model.deudasCobradas && model.deudasCobradas.length > 0">
            <ion-label>Cobrar importe fijo</ion-label>
            <ion-toggle [(ngModel)]="model.aplicarAuto"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="model.deudasCobradas && model.deudasCobradas.length > 0">
            <ion-label stacked>Comentarios:</ion-label>
            <ion-textarea [(ngModel)]="model.comentarios"></ion-textarea>
        </ion-item>
        <ion-item *ngIf="!model.deudasCobradas">
            <ion-label>Cargando deudas...</ion-label>
        </ion-item>
        <ion-item *ngIf="model.deudasCobradas && model.deudasCobradas.length == 0">
            <ion-label>Este cliente no debe nada</ion-label>
        </ion-item>
    

        <ion-item>
            <button type="button" [disabled]="!botonActivo" (click)="addCobro()" ion-button full>Cobrar</button>
        </ion-item>
    </ion-list>

    <ion-item *ngIf="usuario && (usuario.nivelDeAcceso=='admin' || usuario.nivelDeAcceso=='almacen')">
        <selector-vendedores etiqueta="Vendedor:" [seleccionado]="vendedor" (seleccionar)="seleccionarVendedor($event)"></selector-vendedores>
    </ion-item>

    <ion-list *ngIf="!model.cliente && model.deudasCobradas && model.deudasCobradas.length > 0">    
        <ion-item-sliding *ngFor="let deuda of deudas">
            <ion-item [color]="masDeUnMes(deuda.fechaUltimoCobro ? deuda.fechaUltimoCobro : deuda.fecha) ? 'danger' : null">
                <p><strong>Cliente: {{deuda.clienteNombre}}</strong></p>
                <p>Dirección: {{deuda.clienteDireccion}}</p>
                <p>Fecha: {{deuda.fecha.toDate() | date:locale}}</p>
                <p>Importe Venta: {{deuda.total | currency:'DOP'}}</p>
                <p *ngIf="deuda.fechaUltimoCobro">Último cobro: {{deuda.fechaUltimoCobro.toDate() | date:locale}}</p>
                <p *ngIf="deuda.total != deuda.importeDeuda">Importe Pendiente: {{deuda.importeDeuda | currency:'DOP'}}</p>
                <ion-icon *ngIf="deuda.entregado" item-right name="car"></ion-icon>
                <ion-icon *ngIf="deuda.recogido && !deuda.entregado" color="secondary" item-right name="cube"></ion-icon>
            </ion-item>
            <ion-item-options>
                <button *ngIf="!deuda.recogido && !deuda.entregado && usuario && (usuario.nivelDeAcceso=='admin' || usuario.nivelDeAcceso=='almacen')" ion-button color="light" (click)="recoger(deuda)">
                    <ion-icon name="cube"></ion-icon>
                    Recoger
                </button>
                <button *ngIf="deuda.recogido" ion-button color="success" (click)="entregar(deuda)">
                    <ion-icon name="car"></ion-icon>
                    Entregar
                </button>
                <button ion-button color="dark" (click)="crearCobro(deuda.cliente)">
                    <ion-icon name="cash"></ion-icon>
                      cobrar
                  </button> 
                <button ion-button color="secondary" (click)="abrirVenta(deuda)">
                    <ion-icon name="eye"></ion-icon>
                      Ver Venta
                  </button>
            </ion-item-options>
        </ion-item-sliding>
        <ion-item>
            <ion-label>Deuda entregada</ion-label>
            <p item-right>{{totalDeudaEntregada | currency:'DOP'}}</p>
        </ion-item>
        <ion-item>
            <ion-label>Deuda sin entregar</ion-label>
            <p item-right>{{totalDeudaSinEntregar | currency:'DOP'}}</p>
        </ion-item>
    </ion-list>

    <ion-item *ngIf="!deudas && !model.cliente">
        <ion-label>No hay ninguna deuda</ion-label>
    </ion-item>

    <ion-list *ngIf="model.cliente">
        <ion-item-sliding *ngFor="let cobro of cobros">
            <ion-item>
                <p>Fecha: {{cobro.fecha.toDate() | date:locale}}</p>
                <h3>Importe: {{cobro.importe}}</h3>
                <p *ngIf="cobro.comentarios">{{cobro.comentarios}}</p>
            </ion-item>
            <ion-item-options>

            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
  
</ion-content>