<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{titulo}}
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding>
  <ion-item *ngIf="usuario && usuario.nivelDeAcceso=='admin'">
    <ion-label>Mostrar todos</ion-label>
    <ion-toggle [(ngModel)]="mostrarTodos"></ion-toggle>
  </ion-item>
  
  <ion-list *ngIf="!mostrarTodos">
    <ion-item>
      <ion-label floating>Provincia:</ion-label>
      <ion-select [(ngModel)]="provincia">
        <ion-option *ngFor="let prov of provincias" [value]="prov">{{prov.nombre}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="provincia">
      <ion-label floating>Municipio:</ion-label>
      <ion-select [(ngModel)]="municipio">
        <ion-option *ngFor="let municip of municipios" [value]="municip">{{municip.nombre}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="municipio && distrito">
      <ion-label floating>Distrito:</ion-label>
      <ion-select [(ngModel)]="distrito">
        <ion-option *ngFor="let distr of distritos" [value]="distr">{{distr.nombre}}</ion-option>
      </ion-select>
    </ion-item>  
    <selector-vendedores *ngIf="mostrarDetalle && vendedor" etiqueta="Vendedor:" [seleccionado]="vendedor" (seleccionar)="seleccionarVendedor($event)"></selector-vendedores>
    <ion-item *ngIf="mostrarDetalle">
      <ion-label floating>Nombre:</ion-label>
      <ion-input type="text" value="" [(ngModel)]="model.nombre"></ion-input>
    </ion-item>            
    <ion-item *ngIf="mostrarDetalle">
      <ion-label floating>Dirección:</ion-label>
      <ion-input type="text" value="" [(ngModel)]="model.direccion"></ion-input>
    </ion-item>
    <ion-item *ngIf="mostrarDetalle">
      <ion-label floating>Email:</ion-label>
      <ion-input email type="email" value="" [(ngModel)]="model.email"></ion-input>
    </ion-item>
    <ion-item *ngIf="mostrarDetalle">
      <ion-label floating>Teléfono:</ion-label>
      <ion-input type="tel" value="" [(ngModel)]="model.telefono"></ion-input>
    </ion-item>
    <ion-item *ngIf="mostrarDetalle">
      <ion-label floating>Comentarios:</ion-label>
      <ion-textarea value="" [(ngModel)]="model.comentarios"></ion-textarea>
    </ion-item>
        
    <ion-item *ngIf="mostrarDetalle">
        <button type="button" [disabled]="!botonActivo" (click)="addMessage()" ion-button full>Guardar</button>
    </ion-item>

  </ion-list>
 
  <ion-list>
    <ion-item *ngIf="mostrarTodos && usuario && usuario.nivelDeAcceso=='admin'">
        <selector-vendedores etiqueta="Vendedor:" [seleccionado]="vendedorFiltro.id" (seleccionar)="seleccionarVendedorFiltro($event)"></selector-vendedores>
    </ion-item>

    <ion-searchbar #barra placeholder="Introduzca algún dato del cliente" (ionInput)="filtrarBusqueda($event)" (ionClear)="resetearFiltros()" (ionFocus)="seleccionarTexto($event)"></ion-searchbar>
    
    <ion-item-sliding *ngFor="let cliente of clientes">
      <ion-item [color]="masDeUnMes(cliente.ultimaVisita) ? 'danger' : null" >
        <p><strong>{{cliente.nombre}}</strong></p>
        <p>{{cliente.direccion}}</p>
        <p *ngIf="cliente.email">Email: {{cliente.email}}</p>
        <p *ngIf="cliente.comentarios">Comentarios: {{cliente.comentarios}}</p>
        <p *ngIf="cliente.ultimaVisita != fechaMinima">Última Visita: {{cliente.ultimaVisita.toDate() | date:datelocale}}</p>
        <p *ngIf="cliente.ultimaVisita == fechaMinima"><strong>Última Visita: ¡NUNCA!</strong></p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" (click)="deleteMessage(cliente.$key)">
          <ion-icon name="trash"></ion-icon>
          borrar
        </button>
        <button ion-button color="success" (click)="updateMessage(cliente)">
          <ion-icon name="create"></ion-icon>
          editar
        </button>
        <button ion-button color="dark" (click)="crearCobro(cliente.$key)">
          <ion-icon name="cash"></ion-icon>
            cobrar
        </button> 
        <button ion-button color="secondary" (click)="crearVisita(cliente.$key)">
          <ion-icon name="book"></ion-icon>
            visita
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab *ngIf="!isEditing && !mostrarTodos && municipio && distrito" right bottom (click)="crearCliente()">
    <button ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>