<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Clientes
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Nombre:</ion-label>
      <ion-input type="text" value="" [(ngModel)]="model.nombre"></ion-input>
    </ion-item>            
    <ion-item>
      <ion-label floating>Dirección:</ion-label>
      <ion-textarea type="text" row="10" [(ngModel)]="model.direccion"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>Provincia:</ion-label>
      <ion-select [(ngModel)]="provincia">
        <ion-option *ngFor="let prov of provincias" [value]="prov">{{prov.nombre}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="provincia">
      <ion-label floating>Municipio:</ion-label>
      <ion-select [(ngModel)]="municipio">
        <ion-option *ngFor="let municip of municipios" [value]="municip">{{municip.nombre}}</ion-option>
      </ion-select>
    </ion-item>  
    <ion-item>
      <ion-label floating>Email:</ion-label>
      <ion-input email type="email" value="" [(ngModel)]="model.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Teléfono:</ion-label>
      <ion-input type="text" value="" [(ngModel)]="model.telefono"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Código Postal:</ion-label>
      <ion-input type="text" value="" [(ngModel)]="model.codPostal"></ion-input>
    </ion-item>
    
    <ion-item>
        <button type="button" (click)="addMessage()" ion-button full>Guardar</button>
    </ion-item>
</ion-list>
 
  <ion-card>
    <ion-card-header>
      Opciones desplazando a la izquierda
    </ion-card-header>
  </ion-card>
  <ion-list>
    <ion-item-sliding *ngFor="let cliente of clientes">
      <ion-item>
        <h3>Nombre: {{cliente.nombre}}</h3>
        <p>Dirección: {{cliente.direccion}}</p>
        <p>Email: {{cliente.email}}</p>
        <p>Usuario: {{cliente.usuario}}</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" (click)="deleteMessage(cliente.$key)">
        <ion-icon name="trash"></ion-icon>
        delete
      </button>
      <button ion-button color="success" (click)="updateMessage(cliente)">
          <ion-icon name="create"></ion-icon>
          edit
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
 
</ion-content>