<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
        Productos
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content fullscreen>
    <ion-searchbar #barra placeholder="Introduzca algún dato del producto" (ionInput)="filtrarBusqueda($event)" (ionClear)="resetearFiltros()" (keyup.enter)="fijarFiltro($event)" (ionFocus)="seleccionarTexto($event)"></ion-searchbar>
    <ion-scroll style="width: 100%; height: 200px" scrollY="true">
        <ion-list>
            <ion-item *ngFor="let producto of datosFiltrados" (click)="seleccionarProducto(producto)">
                <p text-wrap><strong>{{ producto.nombre }}</strong></p>
                <p text-wrap>{{ producto.precioProfesional | currency:'DOP' }}</p>
            </ion-item>
        </ion-list>
    </ion-scroll>
</ion-content>